button{

    width: 10%;
    background-color: #4242ff;
    color: white;
    padding: 10px;
}
input{
    width: 20%;
    padding: 10px;
}
ul li{
    font-family: sans-serif;  /*deixa as letras com desinig mais formatado */
    background-color: #f1f1f1;
    width: 30%;
    margin: left;
    padding: 5px;
}